<div class="list-container {{ list.editable }}" data-url="{{ list.url }}">
{% if list.msg %}
<div class="error msg">
    {{list.msg}}
</div>
{% endif %}

<table class="table table-hover">
  <thead>
      <tr>
{% for h in list.header %}
        <th>{{h}}</th>
{% endfor %}
      </tr>
    </thead>
    <tbody>

    </tr>
        {% for row in list.body %}
        <tr data-id="{{row.0}}">
            {% for v in row %}
            <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr class="newform">
        <td></td>
        <form action="{{list.formurl}}" method="POST">
        {% csrf_token %}
            {% for field in list.form %}
            <td>{{field}}</td>
            {% endfor %}
        </form>
        </tr>
    </tbody>
</table>


<code class="debug-sql">
    {{list.sql}}
</code>
</div>
