<div class="list-container {{ list.editable }}" data-url="{{ list.url }}">
{% if list.msg %}
<div class="error msg">
    {{list.msg}}
</div>
{% endif %}
<h2>{{list.name}}</h2>
<table class="table table-hover">
  <thead>
      <tr>
{% for h in list.header %}
        <th>{{h}}</th>
{% endfor %}
      </tr>
    </thead>
    <tbody>

    </tr>
        {% for row in list.body %}
        <tr data-id="{{row.0}}">
            {% for v in row %}
            <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </tbody>

</table>
<style>
.form {
    background: #006DCC;
    color: white;
    -moz-border-radius: 12pt;
    -webkit-border-radius: 12pt;
    padding: 12pt;
    margin: 0 auto;
    width: 400px;
    border-radius: 12pt;
}
.form [type=submit] {
    padding-right: 12pt;
}
.form input {
    width: 95%;
}
</style>
{% if list.form %}
<div class="container form">
    <h3>Add a new {{list.name | lower}}</h3>
    <ul class="newform">
        {% for e in list.errors %}
        <li>{{e}}</li>
        {% endfor %}
    </ul>

<form action="{{list.url}}" method="POST">
    {{ list.form.as_table }}
{% csrf_token %}
<br>
    <input type="submit" class="btn btn-large" value="Save">
</form>
</div>
{% endif%}


<code class="debug-sql">
    {{list.sql}}
</code>
</div>
