{% extends 'layout.html' %}
{% block body %}
<ul class="breadcrumb">
{% block breadcrumbs %}
    <li><a href="/"> Home </a></li>
{% endblock %}
</ul>
<div class ="span3">
    <ul class = "nav nav-pills nav-stacked">
        <li><a href="/participant"> Participants</a></li>
        <li><a href="/event"> Events</a></li>
        <li><a href="/committee"> Committee</a></li>
        <li><a href="/college"> Colleges</a></li>
        <li><a href="/participation"> Participation</a></li>
        <li><a href="/prize"> Prize</a></li>
    </ul>
</div>

{% endblock %}
