<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %} Engineer{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/confusional.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-pill" style="margin-top: 0">
    <a class="brand" style="padding: 0pt 30pt" href="/"><img src="/static/img/engilogo.png"></a>
      <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/participant/">Participants</a></li>
      <li><a href="/college">Colleges</a></li>
      <li><a href="/event">Events</a></li>
      <li><a href="/round">Rounds</a></li>
      <li><a href="/participation">Participation</a></li>
      <li><a href="/prize">Prizes</a></li>

    </ul>
</div>
<div style="clear:both">&nbsp;</div>

{% if messages %}
<ul class="messages">
    {% for m in messages %}
    <li{% if m.tags %} class="{{m.tags}}" {%endif%}>{{m}}</li>
    {%endfor%}
</ul>
{%endif%}
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

<div class="sql-console">
    <div class="inner-relative">
    <textarea type="text" name="sql" id="sql"></textarea> <button class="btn exec-debug">execute</button>
    <div class="output"></div>
</div>
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/confusional.js"></script>
</body>
</html>
