{% extends 'layout.html' %}
{% block body %}
<div class="row-fluid">
    <div class = "well span3">
        <ul class="nav nav-list">
            <li class="nav-header">Events</li>
            {% for event in events %}
                <li><a href="/event/{{ event.slug }}">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class = "hero-unit span9">
        <h1> Welcome to Engineer!</h1>
        <p> Come to experience the cutting edge of technology mixed with
        unlimited fun. Compete among the best. Win exciting prizes.
        </p>
        {% if not auth %}
            <a class="btn btn-primary btn-large" href="/register">Register!</a>
            {% endif %}
    </div>
</div>
{% endblock %}
